<div class="section-card">
  <h3 class="section-title">{{ title }}</h3>
  <ng-container *ngIf="hasData; else noData">
    <div *ngFor="let row of visibleRows" class="data-row">
      <span class="label">{{ row.label }}</span>
      <span class="value">
        <ng-container *ngIf="!row.isArray">{{ row.value }}</ng-container>
        <ng-container *ngIf="row.isArray">
          {{ row.arrayValue!.join(', ') }}
          <button *ngIf="row.showMore" class="btn-more" (click)="row.onShowMore!()">
            more
          </button>
        </ng-container>
      </span>
    </div>
  </ng-container>
  <ng-template #noData>
    <p class="no-data">No {{ title.toLowerCase() }} data available.</p>
  </ng-template>
</div>
