<div class="overlay" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">

    <h2 class="modal-title">Change Country</h2>
    <p class="current-country">
      Your current country:
      <span class="current-country-info">
        <span class="flag-wrapper current-flag">
          <img class="flag" [src]="country.Flag" [alt]="country.Alt" />
        </span>
        <strong>{{ country.Name }}</strong>
      </span>
    </p>

    <input class="search-input" type="text" placeholder="Search..." [(ngModel)]="searchQuery" />

    <div class="list-wrapper">
      <div *ngIf="loading" class="skeleton-list">
        <div *ngFor="let i of skeletonRows" class="skeleton-row">
          <div class="skeleton-flag"></div>
          <div class="skeleton-name"></div>
        </div>
      </div>
      <div *ngIf="error" class="state-msg error">{{ error }}</div>
      <div *ngIf="!loading && !error && filtered.length === 0" class="state-msg">No countries found.</div>

      <ul *ngIf="!loading && !error">
        <li *ngFor="let country of filtered" class="country-row" [class.selected]="selected?.Code === country.Code" (click)="select(country)">
          <div class="flag-wrapper">
            <img class="flag" [src]="country.Flag" [alt]="country.Alt" />
          </div>
          <span class="name">{{ country.Name }}</span>
        </li>
      </ul>
    </div>

    <p *ngIf="editError" class="edit-error">{{ editError }}</p>

    <div class="modal-actions">
      <button class="btn-close" (click)="close()">Close</button>
      <button class="btn-edit" [disabled]="!selected || editing" (click)="edit()">
        <span *ngIf="!editing">Change</span>
        <span *ngIf="editing" class="spinner"></span>
      </button>
    </div>

  </div>
</div>

